<div ng-controller="lab30Controller">
  	<!-- <pre>Ordenado por = {{predicate}}; Descendente = {{reverse}}</pre> -->
  	<hr/>
  [ <a href="" ng-click="predicate=''">Orden original</a> ]
	<table class="data" style="border: 2px solid black">
		<colgroup>
			<col span="1" style="background-color:silver">
			<col span="2" style="background-color:#f2f2f2">
			<col span="3" style="background-color:yellow">
			<col span="4" style="background-color:yellow">
		</colgroup>
		<tr>
			<th><a href="" ng-click="predicate = 'name';
				reverse=false">Nombre</a>
				(<a  href="" ng-click="predicate = '-name'; reverse=false">^</a>)
			</th>
			<th><a href="" ng-click="predicate = 'age';
				reverse=!reverse">Edad</a>
			</th>
			<th><a href="" ng-click="predicate = 'city';
				reverse=!reverse">Ciudad</a>
			</th>
			<th><a href="" ng-click="predicate = 'email';
				reverse=!reverse">Email</a>
			</th>
   		</tr>
		<tr ng-repeat="user in data | orderBy:predicate:reverse">
			<td>{{user.name}}</td>
			<td>{{user.age}}</td>
			<td>{{user.city}}</td>
			<td>{{user.email}}</td>
		</tr>
	</table>
</div>